---
import LogoSvg from "../../../_elements/logo/logo.html";
---

<footer id="footer">
  <a href="/" class="logo" title="home page">
    <LogoSvg />
  </a>
  <div class="footer-social">
    <span>Follow us on social media</span>
    <ul class="footer-social__list">
      <li>
        <a href="#" class="footer-social__item" title="behance">
          <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.669 12.768C15.0201 12.7761 14.3755 12.6617 13.769 12.431C13.2256 12.2197 12.7346 11.8928 12.33 11.473C11.9314
                11.044 11.6236 10.5389 11.425 9.98801C11.2069 9.37858 11.0989 8.73524 11.106 8.08801C11.1014 7.45192 11.2125 6.8203
                11.434 6.22401C11.6405 5.66798 11.9583 5.15994 12.368 4.73101C12.7788 4.30741 13.2696 3.96955 13.812 3.73701C14.3995
                3.48849 15.0322 3.36488 15.67 3.37401C16.3555 3.35936 17.0343 3.5103 17.649 3.81401C18.1977 4.09543 18.6735 4.50039
                19.039 4.99701C19.4077 5.50425 19.6737 6.0787 19.822 6.68801C19.9838 7.33575 20.0416 8.00512 19.993
                8.67101H13.562C13.5364 9.30349 13.7532 9.92189 14.168 10.4C14.6038 10.7823 15.1736 10.9758 15.752 10.938C16.2063 10.9486
                16.6527 10.8183 17.03 10.565C17.3295 10.3822 17.5594 10.1044 17.683 9.77601H19.838C19.5938 10.7047 19.0319 11.5185 18.25
                12.076C17.4761 12.5547 16.5786 12.7953 15.669 12.768ZM15.6 5.22401C15.264 5.21139 14.9299 5.27999 14.626 5.42401C14.3884
                5.54383 14.1775 5.71051 14.006 5.91401C13.8551 6.09888 13.7435 6.31256 13.678 6.54201C13.6203 6.73317 13.583 6.92995
                13.567 7.12901H17.549C17.5203 6.61045 17.3226 6.11556 16.986 5.72001C16.6135 5.36838 16.111 5.18853 15.6 5.22401ZM5.97
                12.536H0V0.231006H5.8C6.3373 0.226302 6.8736 0.278256 7.4 0.386006C7.84587 0.473051 8.27068 0.645555 8.651
                0.894006C8.99449 1.13244 9.27016 1.456 9.451 1.83301C9.65065 2.28714 9.74632 2.78015 9.731 3.27601C9.75266 3.82461
                9.60725 4.36686 9.314 4.83101C8.9931 5.27409 8.55942 5.62318 8.058 5.84201C8.73933 6.01228 9.33817 6.41871 9.748
                6.98901C10.1287 7.57583 10.3213 8.26484 10.3 8.96401C10.3145 9.52319 10.1916 10.0774 9.942 10.578C9.71169 11.022 9.37755
                11.4038 8.968 11.691C8.54341 11.9864 8.06922 12.2032 7.568 12.331C7.04477 12.4684 6.50598 12.5377 5.965 12.537L5.97
                12.536ZM2.71 7.05301V10.443H5.6C5.85541 10.4458 6.11033 10.4199 6.36 10.366C6.58857 10.3219 6.80611 10.2328 7
                10.104C7.18672 9.98121 7.33834 9.81202 7.44 9.61301C7.5579 9.36336 7.61349 9.08885 7.602 8.81301C7.65047 8.30112 7.45215
                7.79677 7.068 7.45501C6.65353 7.16969 6.15651 7.02909 5.654 7.05501L2.71 7.05301ZM2.71 2.32801V5.20301H5.452C5.87616
                5.21971 6.29433 5.09867 6.644 4.85801C6.97362 4.58426 7.14719 4.16568 7.108 3.73901C7.11645 3.49409 7.06423 3.25087 6.956
                3.03101C6.85824 2.85327 6.71413 2.70535 6.539 2.60301C6.35458 2.49364 6.15091 2.42066 5.939 2.38801C5.70824 2.34474
                5.47377 2.32431 5.239 2.32701L2.71 2.32801ZM18.051 2.27201H13.061V1.05701H18.051V2.27101V2.27201Z"
              fill="#2E2E2E"/>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="footer-social__item" title="figma">
          <svg width="14" height="21" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3.94504 20.5001C2.28013 20.513 0.788741 19.4726 0.226045 17.9056C-0.336652 16.3386 0.152187 14.5871 1.44504
                13.538C0.52804 12.7958 -0.00473408 11.6792 -0.00473408 10.4995C-0.00473408 9.31981 0.52804 8.2032 1.44504
                7.46102C0.151773 6.41226 -0.337359 4.66065 0.225443 3.09358C0.788245 1.52651 2.28003 0.486339 3.94504
                0.499887H10.055C11.72 0.486339 13.2118 1.52651 13.7746 3.09358C14.3374 4.66065 13.8483 6.41226 12.555 7.46102C13.8479
                8.51013 14.3367 10.2616 13.774 11.8286C13.2113 13.3956 11.72 14.436 10.055 14.423C9.28603 14.424 8.53351 14.2001 7.89004
                13.779V16.579C7.88067 18.75 6.11604 20.5039 3.94504 20.5001ZM3.92304 14.424C2.73858 14.4427 1.79173 15.4148 1.80416
                16.5993C1.81658 17.7839 2.7836 18.7359 3.96819 18.7298C5.15279 18.7236 6.10989 17.7616 6.11004
                16.577V14.424H3.92204H3.92304ZM10.056 8.34702C8.86842 8.35309 7.91001 9.31969 7.91404 10.5073C7.91809 11.6949 8.88305
                12.655 10.0707 12.653C11.2583 12.651 12.22 11.6877 12.22 10.5C12.2156 9.3081 11.247 8.34481 10.055
                8.34702H10.056ZM3.94604 8.34699C3.17685 8.34291 2.46389 8.74947 2.07574 9.41356C1.68758 10.0776 1.6832 10.8984 2.06424
                11.5666C2.44527 12.2348 3.15385 12.6489 3.92304 12.653H6.11004V8.34699H3.94604ZM7.89004 2.27002V6.57704H10.054C11.2115
                6.58242 12.1666 5.67244 12.217 4.51602V4.95102V4.42302C12.2121 3.2325 11.2456 2.27002 10.055 2.27002H7.89004ZM3.94404
                2.27002C3.17485 2.27002 2.46408 2.68038 2.07949 3.34652C1.69489 4.01266 1.69489 4.83338 2.07949 5.49952C2.46408 6.16566
                3.17485 6.57602 3.94404 6.57602H6.11004V2.27002H3.94404Z"
              fill="#2E2E2E"/>
          </svg>

        </a>
      </li>
      <li>
        <a href="#" class="footer-social__item" title="linkedin">
          <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10 18.5H6V6.5H10V8.5C10.8526 7.41525 12.1456 6.76857 13.525 6.737C16.0056 6.75077 18.0072 8.76938 18
                11.25V18.5H14V11.75C13.84 10.6326 12.8818 9.80358 11.753 9.806C11.2593 9.82161 10.7932 10.0378 10.4624 10.4046C10.1316
                10.7715 9.96464 11.2573 10 11.75V18.5ZM4 18.5H0V6.5H4V18.5ZM2 4.5C0.89543 4.5 0 3.60457 0 2.5C0 1.39543 0.89543 0.5 2
                0.5C3.10457 0.5 4 1.39543 4 2.5C4 3.03043 3.78929 3.53914 3.41421 3.91421C3.03914 4.28929 2.53043 4.5 2 4.5Z"
              fill="#2E2E2E"/>
          </svg>

        </a>
      </li>
      <li>
        <a href="#" class="footer-social__item" title="instagram">
          <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.00195 18.541C6.54195 18.541 6.25195 18.528 5.29195 18.486C4.54332 18.4614 3.80439 18.3092 3.10695 18.036C1.90026
                17.5664 0.946094 16.6119 0.476953 15.405C0.214259 14.705 0.072571 13.9655 0.0579531 13.218C0.00195312 12.26 0.00195312
                11.946 0.00195312 9.505C0.00195312 7.038 0.0149531 6.75 0.0579531 5.795C0.0728908 5.04853 0.214574 4.31001 0.476953
                3.611C0.945584 2.40253 1.9013 1.44718 3.10995 0.979005C3.8086 0.715207 4.5473 0.573149 5.29395 0.559005C6.24895 0.505005
                6.56295 0.505005 9.00195 0.505005C11.482 0.505005 11.767 0.518005 12.712 0.559005C13.4605 0.573271 14.2012 0.715315
                14.902 0.979005C16.1103 1.44771 17.0658 2.40288 17.535 3.611C17.8021 4.3202 17.9445 5.07026 17.956 5.828C18.012 6.78601
                18.012 7.09901 18.012 9.53901C18.012 11.979 17.998 12.299 17.956 13.246C17.9411 13.9942 17.799 14.7344 17.536
                15.435C17.0656 16.6427 16.11 17.5976 14.902 18.067C14.2022 18.3292 13.4631 18.4709 12.716 18.486C11.761 18.541 11.448
                18.541 9.00195 18.541ZM8.96795 2.088C6.52195 2.088 6.26795 2.1 5.31295 2.143C4.74294 2.15056 4.17843 2.25575 3.64395
                2.454C2.85471 2.75601 2.23018 3.378 1.92495 4.166C1.72517 4.7063 1.61996 5.27698 1.61395 5.853C1.56095 6.822 1.56095
                7.076 1.56095 9.505C1.56095 11.905 1.56995 12.196 1.61395 13.159C1.62291 13.7292 1.72805 14.2938 1.92495 14.829C2.23063
                15.6165 2.85505 16.238 3.64395 16.54C4.17807 16.7396 4.7428 16.8448 5.31295 16.851C6.28095 16.907 6.53595 16.907 8.96795
                16.907C11.421 16.907 11.675 16.895 12.622 16.851C13.1924 16.8441 13.7573 16.7389 14.292 16.54C15.0764 16.2354 15.6969
                15.6153 16.002 14.831C16.2014 14.2903 16.3065 13.7193 16.313 13.143H16.324C16.367 12.187 16.367 11.932 16.367
                9.48901C16.367 7.04601 16.356 6.789 16.313 5.834C16.304 5.26446 16.1988 4.70052 16.002 4.166C15.6976 3.38058 15.077
                2.7593 14.292 2.454C13.7574 2.25475 13.1924 2.14953 12.622 2.143C11.655 2.088 11.402 2.088 8.96795 2.088ZM9.00195
                14.124C7.13194 14.1252 5.44537 12.9997 4.72882 11.2725C4.01226 9.54518 4.40686 7.55634 5.72858 6.23347C7.05031 4.9106
                9.03882 4.51428 10.7667 5.22934C12.4946 5.9444 13.6215 7.62999 13.622 9.5C13.6192 12.0511 11.553 14.119 9.00195
                14.124ZM9.00195 6.498C7.3451 6.498 6.00195 7.84115 6.00195 9.498C6.00195 11.1549 7.3451 12.498 9.00195 12.498C10.6588
                12.498 12.002 11.1549 12.002 9.498C11.9981 7.84275 10.6572 6.50185 9.00195 6.498ZM13.802 5.78501C13.2074 5.7828 12.7269
                5.29959 12.728 4.70501C12.7291 4.11043 13.2114 3.62901 13.806 3.62901C14.4005 3.62901 14.8828 4.11042 14.884
                4.705C14.8842 4.99187 14.7702 5.26703 14.5672 5.46968C14.3642 5.67234 14.0888 5.7858 13.802 5.78501Z"
              fill="#2E2E2E"/>
          </svg>

        </a>
      </li>
      <li>
        <a href="#" class="footer-social__item" title="youtube">
          <svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M11.006 14.512H10.986C10.924 14.512 4.721 14.5 3.156 14.075C2.29543 13.8432 1.62335 13.1707 1.392 12.31C1.11058
                10.7224 0.974685 9.11235 0.986004 7.5C0.978734 5.88501 1.11831 4.27271 1.403 2.683C1.64071 1.82151 2.30983 1.14595 3.169
                0.9C4.691 0.5 10.723 0.5 10.979 0.5H11C11.063 0.5 17.282 0.512 18.831 0.937C19.6898 1.17001 20.3605 1.8411 20.593
                2.7C20.8834 4.29354 21.0197 5.91134 21 7.531C21.007 9.14403 20.8671 10.7543 20.582 12.342C20.3477 13.2016 19.6752 13.8726
                18.815 14.105C17.295 14.508 11.262 14.512 11.006 14.512ZM9.006 4.505L9.00101 10.505L14.213 7.505L9.006 4.505Z"
              fill="#2E2E2E"/>
          </svg>

        </a>
      </li>
    </ul>
  </div>
</footer>