<section id="faq">
  <details class="accordion-item" open>
    <summary class="accordion-title">What is the duration of the courses?
      <svg viewBox="0 0 29 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="accordion-marker">
        <path
          d="M26.34 0.58667L13.88 0.58667L2.65999 0.58667C0.739985 0.58667 -0.220015 3.29334 1.13999 4.88L11.5 16.9667C13.16
            18.9033 15.86 18.9033 17.52 16.9667L21.46 12.37L27.88 4.88C29.22 3.29334 28.26 0.58667 26.34 0.58667Z"/>
      </svg>
    </summary>
    <p class="accordion-body">Hidden text</p>
  </details>
  <details class="accordion-item">
    <summary class="accordion-title">Do you provide certificates upon course completion?
      <svg viewBox="0 0 29 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="accordion-marker">
        <path
          d="M26.34 0.58667L13.88 0.58667L2.65999 0.58667C0.739985 0.58667 -0.220015 3.29334 1.13999 4.88L11.5 16.9667C13.16
            18.9033 15.86 18.9033 17.52 16.9667L21.46 12.37L27.88 4.88C29.22 3.29334 28.26 0.58667 26.34 0.58667Z"/>
      </svg>
    </summary>
    <p class="accordion-body">Hidden text</p>
  </details>
  <details class="accordion-item">
    <summary class="accordion-title">Is there post-purchase support available for the course?
      <svg viewBox="0 0 29 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="accordion-marker">
        <path
          d="M26.34 0.58667L13.88 0.58667L2.65999 0.58667C0.739985 0.58667 -0.220015 3.29334 1.13999 4.88L11.5 16.9667C13.16
            18.9033 15.86 18.9033 17.52 16.9667L21.46 12.37L27.88 4.88C29.22 3.29334 28.26 0.58667 26.34 0.58667Z"/>
      </svg>
    </summary>
    <p class="accordion-body">Hidden text</p>
  </details>
  <details class="accordion-item">
    <summary class="accordion-title">If the course is not practical, do you offer a refund?
      <svg viewBox="0 0 29 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="accordion-marker">
        <path
          d="M26.34 0.58667L13.88 0.58667L2.65999 0.58667C0.739985 0.58667 -0.220015 3.29334 1.13999 4.88L11.5 16.9667C13.16
            18.9033 15.86 18.9033 17.52 16.9667L21.46 12.37L27.88 4.88C29.22 3.29334 28.26 0.58667 26.34 0.58667Z"/>
      </svg>
    </summary>
    <p class="accordion-body">Hidden text</p>
  </details>
</section>