---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/hero/hero.astro";
import Courses from "../components/courses/courses.astro";
import Features from "../components/features/features.astro";
import Testimonials from "../components/testimonials/testimonials.astro";
import Numbers from "../components/numbers/numbers.astro";
import Faq from "../components/faq/faq.astro";
import Contacts from "../components/contacts/contacts.astro";

import "../styles/index.css";
---

<Layout>
	<main>
		<Hero />
		<Courses />
		<Features />
		<Testimonials />
		<Numbers />
		<Faq />
		<Contacts />
	</main>
</Layout>