<section id="courses">
  <h2>Explore Topics with Precision</h2>
  <div class="courses-list">
    <span class="decorate-bg"></span>
    <div class="courses-list__item">
      <svg width="74" height="73" viewBox="0 0 74 73" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M38.5518 12.5644C39.1456 12.3928 39.7135 12.1203 40.2252 11.7469C45.6915 7.75833 51.9805 6.00842 57.9957
            7.56244C64.5669 9.26012 69.3816 14.528 71.9222 21.4865C74.4632 28.4459 74.7701 37.1749 72.3064 46.0401C69.8427 54.9056
            65.052 62.3105 59.252 67.1047C53.4559 71.8956 46.5699 74.1338 40.0044 72.4376C38.96 72.1678 37.9575 71.8068 37
            71.3616C36.0425 71.8068 35.04 72.1678 33.9956 72.4376C27.4302 74.1338 20.5441 71.8956 14.748 67.1047C8.94802 62.3105
            4.15734 54.9056 1.69355 46.0401C-0.770117 37.1749 -0.46319 28.4459 2.07778 21.4865C4.6184 14.528 9.43309 9.26012 16.0043
            7.56244C22.0195 6.00842 28.3085 7.75833 33.7748 11.7469C34.5804 12.3347 35.5253 12.6725 36.491 12.7601C37.2645 7.94669
            38.9152 3.67603 41.1797 0.428101L42.8203 1.57196C40.8281 4.42927 39.3153 8.22415 38.5518 12.5644ZM38.2448 14.681C38.1237
            15.7351 38.046 16.8158 38.0151 17.9178C39.6622 17.6486 41.1376 16.7327 42.2179 15.3769L43.7821 16.6232C42.1484 18.6735
            39.7274 20 37 20C34.2726 20 31.8516 18.6735 30.2179 16.6232L31.7821 15.3769C32.8688 16.7407 34.3553 17.6595 36.0143
            17.9225C36.0428 16.8449 36.1141 15.7838 36.2257 14.7438C34.937 14.6124 33.6778 14.152 32.5959 13.3625C27.4802 9.62973
            21.7978 8.13138 16.5046 9.49886C10.7362 10.9891 6.33716 15.652 3.95647 22.1724C1.57614 28.6919 1.25418 36.9896 3.62053
            45.5046C5.98675 54.0191 10.5705 61.0568 16.0223 65.5631C21.478 70.0727 27.7212 71.993 33.4954 70.5012C34.566 70.2246
            35.5861 69.8401 36.553 69.357L37 69.1336L37.447 69.357C38.4139 69.8401 39.434 70.2246 40.5046 70.5012C46.2788 71.993
            52.522 70.0727 57.9777 65.5631C63.4295 61.0568 68.0132 54.0191 70.3795 45.5046C72.7458 36.9896 72.4239 28.6919 70.0435
            22.1724C67.6628 15.652 63.2638 10.9891 57.4954 9.49886C52.2022 8.13138 46.5198 9.62973 41.4041 13.3625C40.4543 14.0556
            39.3679 14.4951 38.2448 14.681Z"
          fill="black"/>
      </svg>
      <b>Optimal Nutrition</b>
    </div>
    <div class="courses-list__item">
      <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M35.0001 50C36.6569 50 38.0001 51.3432 38.0001 53C38.0001 54.6569 36.6569 56 35.0001 56C33.3432 56 32.0001 54.6569
            32.0001 53C32.0001 51.3432 33.3432 50 35.0001 50ZM36.0001 53C36.0001 52.4477 35.5524 52 35.0001 52C34.4478 52 34.0001
            52.4477 34.0001 53C34.0001 53.5523 34.4478 54 35.0001 54C35.5524 54 36.0001 53.5523 36.0001 53Z"
          fill="black"/>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M31.0001 44C31.0001 41.2386 28.7615 39 26.0001 39C23.2386 39 21.0001 41.2386 21.0001 44C21.0001 46.7614 23.2386 49
            26.0001 49C28.7615 49 31.0001 46.7614 31.0001 44ZM26.0001 41C27.6569 41 29.0001 42.3432 29.0001 44C29.0001 45.6569
            27.6569 47 26.0001 47C24.3432 47 23.0001 45.6569 23.0001 44C23.0001 42.3432 24.3432 41 26.0001 41Z"
          fill="black"/>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M51.0001 49C54.8661 49 58.0001 52.134 58.0001 56C58.0001 59.866 54.8661 63 51.0001 63C47.1341 63 44.0001 59.866
            44.0001 56C44.0001 52.134 47.1341 49 51.0001 49ZM56.0001 56C56.0001 53.2386 53.7615 51 51.0001 51C48.2386 51 46.0001
            53.2386 46.0001 56C46.0001 58.7614 48.2386 61 51.0001 61C53.7615 61 56.0001 58.7614 56.0001 56Z"
          fill="black"/>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M21.0001 0H49.0001V8H44.0001V15.1242L68.6343 56.3865C72.2158 62.3855 67.8935 70 60.9067 70H9.09343C2.10661 70 -2.21568
            62.3855 1.36584 56.3865L26.0001 15.1242V8H21.0001V0ZM23.0001 2V6H28.0001V15.6758L20.619 28.0391C27.1436 28.3606 30.9838
            30.6168 34.9439 32.9434C35.3357 33.1736 35.7293 33.4048 36.1261 33.6346C40.6118 36.2316 45.7765 38.8194 55.9196
            38.991L42.0001 15.6758V6H47.0001V2H23.0001ZM3.08308 57.4117L19.4465 30.003C26.1357 30.0943 29.7904 32.2388 33.9428
            34.6754C34.3312 34.9034 34.724 35.1338 35.124 35.3654C39.9818 38.1778 45.6956 41 57.0001 41C57.039 41 57.0773 40.9978
            57.1151 40.9935L66.917 57.4117C69.7027 62.0776 66.3409 68 60.9067 68H9.09343C3.65924 68 0.297456 62.0776 3.08308
            57.4117Z"
          fill="black"/>
      </svg>
      <b>chemistry</b>
    </div>
    <div class="courses-list__item">
      <svg width="66" height="73" viewBox="0 0 66 73" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M40.3464 9.24315C38.3487 10.9683 35.7892 12 33 12C30.2108 12 27.6513 10.9683 25.6536 9.24315L24.3464 10.7569C26.6874
            12.7784 29.7051 14 33 14C36.2949 14 39.3126 12.7784 41.6536 10.7569L40.3464 9.24315Z"
          fill="#2E2E2E"/>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M61 40C61 53.962 54.4598 66.0145 45 71.6319C44.9254 71.6762 44.8505 71.7201 44.7755 71.7636C44.2049 72.0947 43.6238
            72.4025 43.0331 72.686L43.0143 72.695C43.0077 72.6982 43 72.6934 43 72.686V51C43 45.4772 38.5228 41 33 41C27.4772 41 23
            45.4772 23 51V72.686C23 72.6934 22.9923 72.6982 22.9857 72.695L22.9669 72.686C22.3762 72.4025 21.7951 72.0947 21.2245
            71.7636C21.1495 71.7201 21.0746 71.6762 21 71.6318C11.5402 66.0145 5 53.962 5 40C5 37.0169 4.16937 34.0862 2.85978
            31.4059C2.10498 29.8611 1.47612 28.2062 0.99806 26.4596C-2.25797 14.5641 2.71453 2.92423 12.1044 0.46124C16.1886
            -0.610042 20.4358 0.231238 24.1994 2.50283C26.8415 4.09748 29.914 5 33 5C36.086 5 39.1585 4.09748 41.8006 2.50283C45.5642
            0.231237 49.8114 -0.610041 53.8956 0.46124C63.2855 2.92423 68.258 14.5641 65.0019 26.4596C64.5239 28.2062 63.895 29.8611
            63.1402 31.4059C61.8306 34.0862 61 37.0169 61 40ZM4.65675 30.5279C3.95688 29.0955 3.37221 27.5578 2.9271
            25.9316C-0.161864 14.6464 4.71082 4.46826 12.6119 2.3958C16.0889 1.48376 19.7843 2.17406 23.166 4.21512C26.1022 5.98734
            29.5296 7 33 7C36.4704 7 39.8978 5.98734 42.8341 4.21512C46.2157 2.17406 49.9111 1.48376 53.3881 2.3958C61.2892 4.46826
            66.1619 14.6464 63.0729 25.9316C62.6278 27.5578 62.0431 29.0955 61.3433 30.5279C59.9318 33.4167 59 36.6478 59 40C59
            52.8733 53.2071 63.8211 45 69.2696V51C45 44.3726 39.6274 39 33 39C26.3726 39 21 44.3726 21 51V69.2696C12.7929 63.8211 7
            52.8733 7 40C7 36.6478 6.06822 33.4167 4.65675 30.5279Z"
          fill="#2E2E2E"/>
      </svg>
      <b>Dental Care</b>
    </div>
    <div class="courses-list__item">
      <svg width="75" height="74" viewBox="0 0 75 74" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M47.9999 12C47.9999 13.1045 47.1045 14 45.9999 14C44.8954 14 43.9999 13.1045 43.9999 12C43.9999 10.8954 44.8954
            9.99995 45.9999 9.99995C47.1045 9.99995 47.9999 10.8954 47.9999 12Z"
          fill="black"/>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M70.9999 74V71.883C70.9999 69.7308 69.6228 67.8201 67.5811 67.1396L67.0512 66.963C65.8262 66.5546 64.9999 65.4082
            64.9999 64.1169V28H74.3539L67.0417 4.23535C66.2751 1.74382 63.7229 0.259348 61.1781 0.824844L56.7123 1.81726C55.8304
            2.01323 55.0838 2.59617 54.6798 3.40418L53.4173 5.92907L47.8087 5.30588C45.8224 5.08519 43.8268 5.62983 42.228
            6.8289C41.2145 7.58904 39.9817 7.99995 38.7148 7.99995H27.9999L27.9999 10.5L27.9999 12.7537C27.9999 16.8836 30.8106
            20.4834 34.8171 21.485L35.6025 21.6814C36.2725 21.8489 36.914 22.1146 37.5062 22.4699L40.449 24.2356L20.319
            46.7811C19.3081 47.9134 18.4615 49.1665 17.7933 50.5035C15.3118 48.297 13.4605 45.9498 12.1805 42.6963C10.7464 39.0514
            9.99992 34.1945 9.99992 27V25.0442L8.41442 26.1893C7.23782 27.0391 6.19014 27.9716 5.26801 28.9618C4.74201 29.5267
            4.25699 30.1101 3.81226 30.7076L5.41655 31.9018C5.81781 31.3628 6.25592 30.8357 6.73165 30.3248C7.13431 29.8924 7.564
            29.4716 8.02122 29.0649C8.15368 35.2918 8.90526 39.8344 10.3194 43.4286C11.8308 47.2702 14.0717 49.9589 16.971
            52.44C16.3335 54.2443 15.9999 56.158 15.9999 58.1034V59.4593C11.7847 59.1198 7.40216 56.6849 4.89855 53.2071C5.88963
            53.2471 7.06166 53.2074 8.19603 52.9805L7.8038 51.0194C5.97312 51.3855 3.94682 51.1695 3.19603 51.0194L1.19114
            50.6184L2.10548 52.4472C4.63213 57.5006 10.4332 61.0757 15.9999 61.4647V74H70.9999ZM65.1301 4.82352C64.6702 3.3286
            63.1388 2.43792 61.612 2.77722L57.1461 3.76964C56.8522 3.83496 56.6033 4.02927 56.4686 4.29861L54.5825 8.07084L47.5878
            7.29365C46.1073 7.12915 44.6197 7.53512 43.428 8.42889C42.0683 9.44869 40.4145 9.99995 38.7148 9.99995H32.9499C32.9827
            10.1615 32.9999 10.3287 32.9999 10.5C32.9999 11.8807 31.8806 13 30.4999 13C30.3297 13 30.1634 12.9829 30.0027
            12.9505C30.0898 16.0796 32.2498 18.7816 35.3022 19.5447L36.0876 19.7411C36.949 19.9564 37.7738 20.2981 38.5352
            20.7549L42.4815 23.1227L46.4471 25.1055L45.5527 26.8944L42.2366 25.2363L21.8109 48.1132C19.3565 50.8621 17.9999 54.4183
            17.9999 58.1034V72H45.9999V71.4721C45.9999 70.3358 45.3579 69.297 44.3416 68.7888L40.7639 67C39.0699 66.153 37.9999
            64.4217 37.9999 62.5278V59C37.9999 55.134 34.8659 52 30.9999 52H28.9999V50H30.9999C35.9705 50 39.9999 54.0294 39.9999
            59V62.5278C39.9999 63.6641 40.6419 64.7029 41.6583 65.2111L45.236 67C46.9299 67.8469 47.9999 69.5782 47.9999
            71.4721V72H58.9999V71.883C58.9999 70.5917 58.1736 69.4453 56.9486 69.0369L56.4188 68.8603C54.3771 68.1798 52.9999 66.2691
            52.9999 64.1169V50.723L59.1424 40.4855L60.8574 41.5145L54.9999 51.2769V64.1169C54.9999 65.4082 55.8262 66.5546 57.0512
            66.963L57.5811 67.1396C59.6228 67.8201 60.9999 69.7308 60.9999 71.883V72H68.9999V71.883C68.9999 70.5917 68.1736 69.4453
            66.9486 69.0369L66.4188 68.8603C64.3771 68.1798 62.9999 66.2691 62.9999 64.1169V28H60.8702C55.5333 28 51.3688 23.3824
            51.918 18.0739L52.5052 12.3971L54.4946 12.6029L53.9074 18.2797C53.4802 22.4085 56.7193 26 60.8702 26H71.646L65.1301
            4.82352Z"
          fill="black"/>
        <path
          d="M2.78065 32.2329C0.809063 35.4551 -0.0880302 38.9633 0.014178 42.0935C0.115911 45.2091 1.2185 48.0554 3.37522
            49.7808L4.62461 48.2191C3.05923 46.9668 2.10222 44.7573 2.01311 42.0282C1.96091 40.4294 2.2103 38.688 2.78808
            36.9318C2.90208 37.4744 3.04214 38.0039 3.19627 38.5093C3.76456 40.3726 4.56265 42.03 5.1381 43.0073L6.86156
            41.9926C6.3595 41.1399 5.62797 39.6266 5.10927 37.9259C4.58494 36.2067 4.31576 34.4168 4.61353 32.9543L2.78065 32.2329Z"
          fill="black"/>
      </svg>
      <b>Animal Welfare</b>
    </div>
    <div class="courses-list__item">
      <svg width="63" height="76" viewBox="0 0 63 76" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M36.8086 0L35.9245 2.38934C35.8657 2.54822 35.8021 2.70466 35.7338 2.85848C34.9295 4.67098 33.4796 6.12088 31.6671
            6.9252C31.5132 6.99346 31.3568 7.05707 31.1979 7.11586L28.8086 8L31.1979 8.88414C31.3568 8.94293 31.5132 9.00654 31.6671
            9.0748C33.4796 9.87912 34.9295 11.329 35.7338 13.1415C35.8021 13.2953 35.8657 13.4518 35.9245 13.6107L36.8086 16L37.6927
            13.6107C37.7515 13.4518 37.8151 13.2953 37.8834 13.1415C38.6877 11.329 40.1376 9.87912 41.9501 9.0748C42.1039 9.00654
            42.2604 8.94293 42.4193 8.88414L44.8086 8L42.4193 7.11586C42.2604 7.05707 42.1039 6.99346 41.9501 6.9252C40.1376 6.12088
            38.6877 4.67098 37.8834 2.85848C37.8151 2.70466 37.7515 2.54822 37.6927 2.38934L36.8086 0ZM36.8086 5.05919C36.0454
            6.23447 35.0431 7.23678 33.8678 8C35.0431 8.76322 36.0454 9.76553 36.8086 10.9408C37.5718 9.76553 38.5741 8.76322 39.7494
            8C38.5741 7.23678 37.5718 6.23447 36.8086 5.05919Z"
          fill="black"/>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M54.0392 5.07126C55.9475 4.23696 58.0423 4.12672 59.7111 5.25497C61.0857 6.18434 61.8062 7.71476 61.9974
            9.39186C62.1354 10.6024 62.0057 11.9278 61.6293 13.2655L56.8421 31.1354L57.808 31.3942L56.3062 36.9992C57.77 38.4655
            58.4336 40.6507 57.8588 42.7959L49.059 75.6374L27.8086 69.9433L36.6084 37.1019C37.1832 34.9567 38.8506 33.396 40.8514
            32.8581L42.3532 27.2531L43.3201 27.5122L46.9927 13.8058C47.3433 12.4265 47.962 11.0136 48.841 9.67624C50.2562 7.5232
            52.1213 5.90977 54.0392 5.07126ZM54.8404 6.90378C53.3293 7.56441 51.748 8.89475 50.5123 10.7748C49.7487 11.9365 49.2229
            13.1478 48.9297 14.3041C48.2567 16.9583 48.8476 19.0055 50.1114 19.86C51.0243 20.4771 52.3412 20.5329 53.8619
            19.868C55.373 19.2074 56.9543 17.877 58.19 15.997C58.6143 15.3515 58.9656 14.69 59.2444 14.0305C59.9167 12.4399 60.1553
            10.8905 60.0103 9.6184C59.8654 8.34715 59.3527 7.42686 58.5909 6.91183C57.6781 6.29465 56.3611 6.23893 54.8404
            6.90378ZM57.8942 19.4815L54.9103 30.6178L45.252 28.0298L47.4511 19.8228C47.8226 20.4918 48.3311 21.0705 48.9912
            21.5168C50.66 22.6451 52.7548 22.5348 54.6631 21.7005C55.7847 21.2102 56.8882 20.4548 57.8942 19.4815ZM42.991
            32.6004L43.7674 29.7026L43.7684 29.7029L55.3586 32.8084L54.5821 35.7062L42.991 32.6004ZM38.5403 37.6195C39.1121 35.4856
            41.3054 34.2193 43.4393 34.7911L53.0985 37.3793C55.2324 37.951 56.4987 40.1444 55.927 42.2782L47.6448 73.1879L30.2581
            68.5291L38.5403 37.6195Z"
          fill="black"/>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0.94873 18.1866L16.9487 45.8994L34.2692 35.8994L18.2692 8.18661L0.94873 18.1866ZM14.609 21.8469C17.4419 20.2113
            19.1718 17.3988 19.5377 14.3836L31.5372 35.1674L17.6808 43.1674L5.68127 22.3836C8.47546 23.5744 11.776 23.4825 14.609
            21.8469ZM13.609 20.1148C10.3807 21.9787 6.39338 21.3368 3.89905 18.7926L17.3189 11.0447C18.275 14.4769 16.8372 18.251
            13.609 20.1148Z"
          fill="black"/>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M11.8086 46L13.168 51.5038C14.0023 54.8819 16.0195 57.8186 18.8126 59.808C19.4403 60.2551 20.1072 60.6544 20.8086
            61C20.1072 61.3456 19.4403 61.7449 18.8126 62.192C16.0195 64.1814 14.0023 67.1181 13.168 70.4962L11.8086 76L10.4492
            70.4962C9.61488 67.1181 7.59765 64.1814 4.80456 62.192C4.17688 61.7449 3.51002 61.3456 2.80859 61C3.51002 60.6544 4.17688
            60.2551 4.80456 59.808C7.59765 57.8186 9.61488 54.8819 10.4492 51.5038L11.8086 46ZM6.55051 61C8.91708 59.1505 10.7407
            56.6805 11.8086 53.8545C12.8765 56.6805 14.7001 59.1505 17.0667 61C14.7001 62.8495 12.8765 65.3195 11.8086
            68.1455C10.7407 65.3195 8.91708 62.8495 6.55051 61Z"
          fill="black"/>
      </svg>
      <b>Beauty</b>
    </div>
    <div class="courses-list__item">
      <svg width="61" height="80" viewBox="0 0 61 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6.19757 2.04847C16.1421 -2.33945 27.218 3.03109 30.4999 12.6622C33.7818 3.03109 44.8577 -2.33945 54.8022
            2.04847L60.5686 4.59284L60.2834 7.38318C59.0259 19.6826 46.028 27.082 34.81 21.8847L31.4999 20.3511V36H60.4999L59.8515
            46.3743C59.7104 48.6319 58.3334 50.5334 56.4041 51.4366L54.9978 72.5322C54.7176 76.7345 51.2272 80 47.0155
            80H13.9843C9.77262 80 6.28221 76.7345 6.00205 72.5322L4.59567 51.4366C2.66641 50.5334 1.2894 48.6319 1.14829
            46.3743L0.499903 36H29.4999V20.3511L26.1898 21.8847C14.9718 27.082 1.97395 19.6826 0.71644 7.38318L0.431152
            4.59284L6.19757 2.04847ZM7.00495 3.87826C16.8437 -0.462957 27.9282 5.94166 29.3192 16.3537L17.919 11.092L17.0808
            12.908L28.9669 18.3938L25.3491 20.07C15.3775 24.6898 3.82385 18.1126 2.70607 7.17975L2.56865 5.83573L7.00495
            3.87826ZM7.13661 50C5.02436 50 3.27616 48.3577 3.1444 46.2495L2.62881 38H58.371L57.8554 46.2495C57.7236 48.3577 55.9754
            50 53.8632 50H7.13661ZM54.3621 52L53.0022 72.3991C52.7921 75.5509 50.1743 78 47.0155 78H13.9843C10.8255 78 8.20774
            75.5509 7.99762 72.3991L6.63768 52H54.3621ZM31.6806 16.3537C33.0716 5.94166 44.1561 -0.462958 53.9949 3.87826L58.4311
            5.83573L58.2937 7.17975C57.1759 18.1126 45.6223 24.6898 35.6507 20.07L32.0329 18.3938L43.919 12.908L43.0808
            11.092L31.6806 16.3537Z"
          fill="black"/>
      </svg>
      <b>Plant Cultivation</b>
    </div>
    <div class="courses-list__item">
      <svg width="71" height="70" viewBox="0 0 71 70" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M43.5 35H61.5V45C61.5 49.4183 57.9183 53 53.5 53H51.5C47.0817 53 43.5 49.4183 43.5 45V35ZM45.5 45V37H59.5V45C59.5
            48.3137 56.8137 51 53.5 51H51.5C48.1863 51 45.5 48.3137 45.5 45Z"
          fill="black"/>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M18.5 0V6.77143L5.17392 12.8633C2.32643 14.1651 0.5 17.0082 0.5 20.1391V62C0.5 66.4183 4.08172 70 8.5 70H62.5C66.9183
            70 70.5 66.4183 70.5 62V20.1391C70.5 17.0082 68.6736 14.1651 65.8261 12.8634L52.5 6.77143V0H18.5ZM52.4991 8.97009C52.4674
            11.2067 51.6037 13.3533 50.0738 14.9894L41.1105 24.5751L36.5 18.1205L36.5 68H62.5C65.8137 68 68.5 65.3137 68.5
            62V20.1391C68.5 17.791 67.1302 15.6586 64.9946 14.6823L52.4991 8.97009ZM34.5 18.1205L29.8895 24.5751L20.9262
            14.9894C19.3963 13.3533 18.5326 11.2067 18.5009 8.97009L6.00544 14.6823C3.86982 15.6586 2.5 17.791 2.5 20.1391V62C2.5
            65.3137 5.18629 68 8.5 68H34.5L34.5 18.1205ZM48.8386 2L35.5 13.6712L22.1614 2H48.8386ZM20.5 8.84242V3.20377L34.1597
            15.156L29.6819 21.4249L22.387 13.6234C21.1745 12.3267 20.5 10.6177 20.5 8.84242ZM36.8403 15.156L50.5 3.20377V8.84242C50.5
            10.6177 49.8255 12.3267 48.613 13.6234L41.3181 21.4249L36.8403 15.156Z"
          fill="black"/>
      </svg>
      <b>Fashion</b>
    </div>
    <div class="courses-list__item">
      <svg width="70" height="73" viewBox="0 0 70 73" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M10 14C10 15.6569 11.3431 17 13 17C14.6569 17 16 15.6569 16 14H18C18 16.7614 15.7614 19 13 19C10.2386 19 8 16.7614 8
            14H10Z"
          fill="black"/>
        <path
          d="M24 14C24 15.6569 25.3431 17 27 17C28.6569 17 30 15.6569 30 14H32C32 16.7614 29.7614 19 27 19C24.2386 19 22 16.7614 22
            14H24Z"
          fill="black"/>
        <path
          d="M42 36C40.3431 36 39 37.3431 39 39H37C37 36.2386 39.2386 34 42 34C44.7614 34 47 36.2386 47 39H45C45 37.3431 43.6569 36
            42 36Z"
          fill="black"/>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M50 56C42.8203 56 37 50.1797 37 43V42H63V43C63 50.1797 57.1797 56 50 56ZM50 54C55.738 54 60.4499 49.6065 60.9552
            44H39.0448C39.5501 49.6065 44.262 54 50 54Z"
          fill="black"/>
        <path
          d="M58 36C56.3431 36 55 37.3431 55 39H53C53 36.2386 55.2386 34 58 34C60.7614 34 63 36.2386 63 39H61C61 37.3431 59.6569 36
            58 36Z"
          fill="black"/>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0 0V23.7087C0 31.5529 3.6818 38.9424 9.94403 43.6666L20 51.2526L30 43.7088V44.7086C30 52.5529 33.6818 59.9424 39.944
            64.6665L50 72.2526L60.056 64.6665C66.3182 59.9424 70 52.5529 70 44.7087V21H40V0H0ZM38 21V2H2V23.7087C2 30.9254 5.38726
            37.7237 11.1485 42.0699L20 48.7474L28.8515 42.0699C29.2455 41.7727 29.6285 41.4639 30 41.1444V35H9V34C9 27.9249 13.9249
            23 20 23C24.4372 23 28.2608 25.6273 30 29.411V21H38ZM28.9451 33C28.4476 28.5 24.6326 25 20 25C15.3674 25 11.5524 28.5
            11.0549 33H28.9451ZM32 23V44.7086C32 51.9254 35.3873 58.7237 41.1485 63.0699L50 69.7474L58.8515 63.0699C64.6127 58.7237
            68 51.9254 68 44.7087V23H32Z"
          fill="black"/>
      </svg>
      <b>Cinema Acting</b>
    </div>
  </div>
</section>