#features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 20px; */
  padding: 0 var(--edges);
}

.features-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 250px;
  padding: clamp(20px, 4vw, 40px);

  & svg {
    min-height: 80px;
    aspect-ratio: 1;
  }

  & b {
    font-size: 1.5em;
  }

  & strong {
    font-weight: normal;
    text-align: center;
  }
}