---
import { Image } from 'astro:assets';

import imgTestimonial from './img/businessman.jpg';
---

<section id="testimonials">
  <button type="button" name="sliderPrev" title="previous slider" class="testimonials-button">
    <svg viewBox="0 0 18 34" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-arrow">
      <path d="M17.9136 30.8133L17.9136 16.2766L17.9136 3.18664C17.9136 0.946644 15.2069 -0.173356 13.6202 1.41331L1.53357
      13.5C-0.403092 15.4366 -0.403092 18.5866 1.53357 20.5233L6.13024 25.12L13.6202 32.61C15.2069 34.1733 17.9136 33.0533
      17.9136 30.8133Z"/>
    </svg>
  </button>
  <div class="testimonials-slider">
    <blockquote class="testimonial-item">
      <Image src={imgTestimonial} densities={[1.5, 2]} alt="business man" class="testimonial-img" />
      <span>Jack Mayer</span>
      <p>"The courses were of exceptional quality and cutting-edge. You won't find these courses just anywhere."</p>
    </blockquote>
    <blockquote class="testimonial-item">
      <Image src={imgTestimonial} densities={[1.5, 2]} alt="business man" class="testimonial-img" />
      <span>Jack Mayer</span>
      <p>"The courses were of exceptional quality and cutting-edge. You won't find these courses just anywhere."</p>
    </blockquote>
  </div>
  <button type="button" name="sliderNext" title="next slider" class="testimonials-button">
    <svg viewBox="0 0 18 34" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-arrow">
      <path d="M0.0866686 3.18669L0.0866692 17.7234L0.0866698 30.8134C0.0866699 33.0534 2.79334 34.1734 4.38 32.5867L16.4667
      20.5C18.4033 18.5634 18.4033 15.4134 16.4667 13.4767L11.87 8.88002L4.38 1.39002C2.79334 -0.173313 0.0866685 0.946686
      0.0866686 3.18669Z"/>
    </svg>
  </button>
</section>