---
import LogoSvg from "../../../_elements/logo/logo.html";
---

<header id="header">
  <a href="/" class="logo" title="home page">
    <LogoSvg />
  </a>
  <nav class="header-nav" data-class-toggle="active">
    <ul class="header-nav__list">
      <li>
        <a href="/" class="link">Home</a>
      </li>
      <li>
        <a href="#courses" class="link">Courses</a>
      </li>
      <li>
        <a href="#features" class="link">Features</a>
      </li>
      <li>
        <a href="#testimonials" class="link">Testimonials</a>
      </li>
      <li>
        <a href="#faq" class="link">FAQ</a>
      </li>
      <li>
        <a href="#contacts" class="link">Contact</a>
      </li>
    </ul>
  </nav>
  <button type="button" name="getOrder" class="button"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      ><path d="M12 21l-8-9h6v-12h4v12h6l-8 9zm9-1v2h-18v-2h-2v4h22v-4h-2z"
      ></path></svg
    >
    <span>Download Application</span>
    </button
  >
</header>
