<section id="numbers">
  <div class="numbers-list">
    <div class="numbers-list__item">
      <strong>+100K Hours</strong>
    </div>
    <div class="numbers-list__item">
      <strong>+500 Courses</strong>
    </div>
    <div class="numbers-list__item">
      <strong>+5000 Students</strong>
    </div>
    <div class="numbers-list__icon">
      <svg viewBox="0 0 104 99" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-thumbs-up">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M18 46.625L52.5 0.625H54.6201C62.2253 0.625 67.7361 7.87514 65.7006 15.2029L59.9811 35.793C59.4722 37.625 60.8499
            39.4375 62.7512 39.4375H92.1097C100.1 39.4375 105.655 47.385 102.91 54.8887L87 98.375H12.25C5.89873 98.375 0.75 93.2263
            0.75 86.875V58.125C0.75 51.7737 5.89873 46.625 12.25 46.625H18ZM53.9375 3.5L20.875 47.5833V95.5H84.9905L100.21
            53.9009C102.269 48.2731 98.1023 42.3125 92.1097 42.3125H62.7512C58.9486 42.3125 56.1932 38.6874 57.211 35.0235L62.9305
            14.4334C64.4571 8.93761 60.324 3.5 54.6201 3.5H53.9375ZM18 95.5V49.5H12.25C7.48654 49.5 3.625 53.3615 3.625
            58.125V86.875C3.625 91.6385 7.48654 95.5 12.25 95.5H18Z"/>
      </svg>
    </div>
  </div>
  <article class="numbers-article">
    <h2>Elevate Your Skills with Skill Up</h2>
    <p>
      <b>Diverse Course Catalog:</b> Skill Up offers a diverse range of courses covering various subjects and industries,
        ensuring that you can find the perfect course to meet your learning goals.</p>
    <p>
      <b>Expert Instructors:</b> All courses on Skill Up are taught by industry experts and experienced professionals,
        providing you with valuable insights and practical knowledge.</p>
    <p>
      <b>Flexible Learning:</b> You can access Skill Up courses from anywhere, anytime, making it easy to fit learning into
        your schedule. Learn at your own pace and on your terms.</p>
  </article>
</section>